
.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

h5 {
    padding-top: 4px;
    line-height: 0.8;
}

p {
    line-height: 0.7;
}

.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators {
    bottom: 10px;
}

@media screen and (min-width: 300px) and (max-width: 767px){
    /* Hide captions class  */
    .carousel-caption {
       display: block !important;
    }
}