
.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

h5,p {
    line-height: 0.7;
}

.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators {
    bottom: 10px;
}