/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body { 
    padding: 100 px;
 }
 @charset "UTF-8";
.bg{
	background-color: rgb(248,243,243);
	border: 3px solid rgb(235,233,230);
	margin: 2px;
	padding: 0px;
	border-radius: 50%; 
}
.posi{
	text-align:  center;
	margin: 10px;
	padding: 5px;
}
#wow-container{
	height: 300px;
	width:auto;
	padding: 0;
}

.navbar-inverse{
	margin: 0;
}


*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "montserrat";
}


.card{
  width: 360px;
  background: #f1f1f1;
  top: 50%;
  left: 50%;
  right: 50%
  
}
.top-section{
  height: 310px;
  overflow: hidden;
  background: #fff;
  position: relative;
}
#image-container{
  width: 360px;
  height: 240px;
}
.navi{
  text-align: center;
}
.navi img{
  width: 80px;
  height: 50px;
  border: 1px solid #ddd;
  margin: 8px 2px;
  cursor: pointer;
  transition: 0.3s;
}
.navi img:hover{
  border-color: #6ab04c;
}
.price{
  position: absolute;
  top: 20px;
  right: 20px;
  color: #6ab04c;
  font-size: 24px;
}
.product-info{
  padding: 24px;
}
.name{
  text-transform: uppercase;
  font-size: 24px;
  color: #333;
}
.dis{
  font-size: 16px;
  opacity: 0.7;
}
.btn{
  display: block;
  background: #6ab04c;
  text-align: center;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  transition: 0.3s;
}
.btn:hover{
  background: #333;
}
.form-login{
	margin: 10px;
	padding-left: 30%;
	padding-top: 20%;
	padding-bottom: 20%;
	font-size: 22px;

}
.but{
	border-radius: 12%;
	background-color: #565c66;
}
.email1{
	width: 150px;
}
.rem{
	font-size: 16px;
}
