.custom { 
    padding-top: 60px;
    background: url('../../assets/home/backgorund.jpg') no-repeat center;
    background-size:cover;
    height: 100%;
    width: 100%;
    padding-top: 66,64%; 
 }

 .display-4 {
    color: rgb(184, 137, 19);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 0px;
 }

 .blockquote {
     color: black;
     line-height: 20px;
     font-weight: bold;
 }

 img {
   height: 135%;
   width: 135%;
 }

 hr { background-color: white; height: 1px; border: 0; }

 small {
    line-height: 100%;
 }
