<!-- Event snippet for Calls from Google ads conversion page -->
<script>
    gtag('event', 'conversion', {'send_to': 'AW-769621988/YokeCIjHj5MBEOT__e4C'});
</script>  
<div class="custom">
    <div class="container">
        <div class="row">
          <div class="col-sm">
              <app-carousel></app-carousel>
          </div>
          <div class="col-sm">
              <blockquote class="blockquote text-center">
                  <h6> PR Enterprises's </h6>
                  
                  <div class="container">
                    <div class="row justify-content-start">
                      <div class="col-sm-2">
                        <a class="navbar-brand" href="#"><img src="../../assets/home/logo.png" /></a>
                      </div>
                      <div class="col-sm-10 text-left">
                        <h1 class="display-4"> BRAHMA ARTS </h1>
                      </div>
                    </div>
                  </div>

                </blockquote>
                <hr/>
                <blockquote class="blockquote text-justify">
                        <small class="mb-3">
                          <b>Good news:</b> Do you know you can now directly print on Wooden Doors, 
                          on Glass, on Mobile Covers, on Acrylic, on Metal Sheets, on Ceramic Tiles, on ACP Sheet, 
                          on Foam sheets etc? Yes, you can now forget stickers. We can directly print on these 
                          surfaces including embossed printing with our latest state of the art printer. 
                          It is a technology marvel. It gives superior quality, saves time, 
                          and this all comes at a reasonable pricing. So  visit our shop/business centre and 
                          get a first hand account of what we had already assured. Please do come and give us an opportunity 
                          to serve you to the best of our ability and also to your entire satisfaction. 
                          Thank you very much and you are welcome.
                        </small>
                    </blockquote>
                <hr/>
                <blockquote class="blockquote text-left">
                    <a href="tel:+91 9372063750"><span class="fa fa-phone-square"></span> +91 9372063750</a><br/>
                    <a href="tel:+91 9422248848"><span class="fa fa-phone-square"></span> +91 9422248848</a> 
                    <br/>
                    <br/>
                    <a href="mailto:sales@thebrahmaarts.com?Subject=Order%20Enquiry"><span class="fa fa-envelope"></span> sales@thebrahmaarts.com </a><br/>
                    <a href="mailto:reachbrahmaarts@gmail.com.com?Subject=Order%20Enquiry"><span class="fa fa-envelope"></span> reachbrahmaarts@gmail.com</a>
                </blockquote>
                <blockquote class="blockquote text-left">
                    <i class="fas fa-map-marker"></i>
                    <a href="https://maps.google.com/?q=19.9860480,73.8097410" target="_blank"> 
                        1, Ram Heritage, Tapovan Link Road, Opp. Podar International School, <br/>
                        Near Metro Wholesale Mall, Nashik - 422011
                      </a>
                </blockquote>
          </div>
        </div>
      </div>
</div>